*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar{
  margin: 10px;
}
ul{
  display: flex;
  flex-direction: row;
}
ul li{
  padding: 12px;
  list-style: none;
  font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
  
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #d11d53;
}
.aaa a{
  color:#d11d53
}
#content{
  display: flex;
  flex-direction: row;
  padding: 80px;
  
}
img{
  height: 300px;
  width: auto;
  border:20px solid #d11d53;
  border-radius: 200px;
  
}
.profile{
  margin-left: 500px;
  margin-top: auto;
}
.main{
  font-family: "Times New Roman", Times, serif;
  margin-top: 100px;
}
h2{
  font-size: 30px;
}
p{
  font-size: 25px;
}
button{
  color:white;
  background-color: #e52b50;
  padding: 15px;
  font-size: 15px;
  border:1px solid #e52b50;
  border-radius: 20px;
}
body{
  background-image: url("background.jpg");
}